PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=CHANGE_MOI_mot_de_passe_fort
DB_NAME=niamey_shop
JWT_SECRET=CHANGE_MOI_cle_jwt_tres_longue_et_aleatoire
FRONTEND_URL=http://localhost:5500
NODE_ENV=development
